/* === ESTILOS BASE === */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: #333;
    margin-top: 10px;
    text-align: center;
}

/* === TABLERO PRINCIPAL === */
.grid-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    aspect-ratio: 2 / 3; /* Mantiene proporción 20x30 */
    width: 90vw;          /* Escala al ancho de pantalla */
    max-w
